body {
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

password-field {
    width: 25rem;

    & text-input {
        & input:not(:placeholder-shown) ~ label {
            top: -16px;
        }
    }
}
