password-field {
    display: flex;
    margin: 0;

    & button {
        border: none;
        background-color: transparent;
    }

    & input {
        display: inline;
    }

    & .input-group {
        margin-bottom: 0;
    }

    & .pw-visibility {
        position: relative;
        right: 45px;
        top: 2px;
    }

    & svg {
        width: 1.8rem;
    }
}
