password-field {
    display: flex;
    margin: 1.4rem 0;

    & text-input {
        width: 100%;
        & .input {
            margin: 0;
        }

        & input {
            width: 100%;
        }
    }

    & button {
        border: none;
        background-color: transparent;
        height: 42px;
    }

    & input {
        display: inline;
    }

    & .input-group {
        margin-bottom: 0;
    }

    & .pw-visibility {
        position: relative;
        right: 45px;
        top: 2px;
    }

    & svg {
        position: relative;
        top: 2px;
        width: 1.8rem;
    }
}
