password-field {
    display: flex;
    margin: 1.4rem 0;
    width: 100%;

    & button {
        border: none;
        background-color: transparent;
        height: 42px;
    }

    & .pw-visibility {
        position: relative;
        top: 25px;
    }

    & svg {
        position: relative;
        top: 2px;
        width: 1.8rem;
    }

    & text-input {
        width: 100%;

        & .input {
            & input {
                padding-right: 3.6rem;
            }
        }
    }
}
